<h1>Galvanize Publications</h1>
<br>
<a class="right back" href="/#/">Back to all Publications</a>
<!-- <br>
 -->
<section class="section">
  <a class="button right" href="/#/publications/{{publication._id}}/edit">Edit Publication</a>
  <div class="title">
    <li><h2 class="title2">{{publication.name}} -</h2></li>
     <h4 class="price margin-l right">{{publication.price | currency}} - {{publication.schedule}}</h4>
  </div>
  <div class="block">
    <p class="black">{{publication.desc}}</p>
    <p class="black">Topics: {{publication.topics}}</p>
    <p class="black" ng-show="publication.physical==='true'">This is a physical publication.</p>
    <p class="black" ng-show="publication.physical==='false'">This is an electronic publication.</p>

  </div>
  <button class="button" ng-click="addSubscription = ! addSubscription">Subscribe</button>
  </section>

  <h2 class="margin-top">Subscribe to {{publication.name}}</h2>

  <section class="edit">
    <form class="box" ng-show="addSubscription" name="form" ng-submit="newSubscription(publication)">
      <label class="label2" for="name">Subscriber Name</label>
        <input class="input input2" type="text" name="name" ng-model="publication.subscription.name" required/>

      <label class="label2" ng-show="publication.physical==='true'" class="label" for="address">Address</label>
        <input class="input input2" ng-show="publication.physical==='true'" class="input" type="text" name="address" ng-model="publication.subscription.address" />

      <label class="label2" ng-show="publication.physical==='false'" class="label" for="email">Email</label>
        <input class="input input2" ng-show="publication.physical==='false'" class="input" type="email" name="email" ng-model="publication.subscription.email" />

    <div class="flex input2">
      <li><input class="button" type="submit" value="Subscribe"></li>
      <li><a class="left button2" ng-href="/#/">Cancel</a></li>
    </div>
    </form>
</section>

<h2>Subscribers</h2>

<section>
<div class="title">
<table>
  <thead>
    <th class="name">Name</th>
    <th ng-show="publication.physical==='true'">Address</th>
    <th ng-show="publication.physical==='false'">Email</th>
    <th></th>
  </thead>
  <tr ng-repeat="subscribe in publication.subscriptions | orderBy: 'name'">
    <td>{{subscribe.name}}</td>
    <td ng-show="publication.physical==='true'">{{subscribe.address}}</td>
    <td ng-show="publication.physical==='false'">{{subscribe.email}}</td>
    <td>
      <form ng-submit="deleteSubscription(publication, subscribe)">
        <input class="button right margin-t" type="submit" ng-href="/#/" value="Cancel Subscription" />
      </form>
    </td>
  </tr>
</table>
</div>

</section>
